:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-e: #646cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Path: client\src\index.css */

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: #747bff;
  border-radius: 3px;
}

::-webkit-scrollbar-track{
  background-color: none;
}

body {
    margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  margin: 0 auto;
}

p{
  margin: 8px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  border: solid 2px #3a3a3a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin:  2% 2% 2% 0px;
}
button:hover {
  border-color: var(--color-e);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-e);
}

.data{
  background-color: rgb(116, 123, 255);
  border-radius: 10px;
  position: initial;
  left: 0%;
  margin-bottom: 2%;
}

label{
  margin: 2% 0 2% 2%;
}

form {
  margin: 0 auto;
  display: flex;
  width: 70vw;
  margin-top: 1%;
  border-top: solid 2px #202020;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  border: solid 2px #3a3a3a;
  transition: border-color 0.25s;
  margin: 2%;
}

input:focus{
  outline: none;
}

.messageIn{
  width: 90%;
}


.messges{
  height: 70vh;
  max-width: 70vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.me{
  position: relative;
  margin-top: 0px;
  text-align: right;

  max-width: 98%;
}

.message{
  position: relative;
  margin-top: 0px;
  left: 2%;
  max-width: 98%;
}

.me p{
  background-color: var(--color-e);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  line-break: anywhere;
}

.message p{
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  line-break: anywhere;
}

h3{
  position: relative;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  top: 20px;
  font-weight: 400;
  opacity: .8;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f3f3f3;
    border: solid 2px #e6e6e6;
  }
  input{
    background-color: #f3f3f3;
    border: solid 2px #e6e6e6;
  }

  .me p{
    color: white;
  }

  .message p{
    background-color: #e6e6e6;
  }

  form{
    border-top: solid 2px #ececec;
  }

  .data{
    background-color: #f3f3f3;
    color: #747bff;
  }

  .data input{
    color: #747bff;
  }
}
